@page "/navigate"

@inject NavigationManager NavigationManager

<h1>Navigate in Code Example</h1>

<button class="btn btn-primary" @onclick="NavigateToCounterComponent">
    Navigate to Counter component"
</button>

@code {
    private void NavigateToCounterComponent() {
        NavigationManager.NavigateTo("Counter");
    }
}
